body{
    font-family: sans-serif;
    background-color:#bda68b;
    margin:0
}

.menu{
    text-align: right;
}

.menu li{
    list-style-type:none;
    display: inline-block;
}

.menu a{
    display: inline-block;
    background-color: #584141;
    padding: 10px;
    text-decoration: none;
    color: aliceblue;
    border: 2px solid aliceblue
}

.menu a:hover{
    background-color: #bda68b;
}

header{
    height: 500px;
    background-image: url(imagens/caranguejo-praia.jpg);
    background-size:cover;
    background-position:right center;
    background-repeat: no-repeat;
    text-align: center;
}

.titulo-header{
    color: aliceblue;
    margin-top: 200px;
    font-size: 50px;
}

.paragrafo-header{
    background-color:#0000005c;
    display: inline-block;
    color: aliceblue;
    border-bottom: 1px solid aliceblue;
    padding: 15px;
    font-size: small;
}

section{
    background-color: aliceblue;
    margin: 10px 300px;
    padding: 10px;
    text-align: center;
    position: center;
}

.imagem{
    display:inline-block;
    width: 500px;
    height: 300px;
    object-fit:contain;
    position: center;
    margin: 3px 200px;
}


.titulo-main{
    background-color: #e7e7e7;
    padding: 10px;
    border-bottom: 3px solid #584141;
    font-size: 30px;
    text-align: center;
    color: #412d2d;
}

.link-saiba-mais a{
    background-color: #412d2d;
    padding: 10px;
    font-size: small;
    color:aliceblue
}

.link-saiba-mais a:hover{
    background-color: #bda68b;
}

footer{
    background-color: #584141;
    padding: 15px;
    text-align: center;
    color: aliceblue;
    font-size: smaller;
}