body{
    font-family: sans-serif;
    background-color:#bda68b;
    margin:0
}

.menu{
    text-align: right;
}

.menu li{
    list-style-type:none;
    display: inline-block;
}

.menu a{
    display: inline-block;
    background-color: #584141;
    padding: 10px;
    text-decoration: none;
    color: aliceblue;
    border: 2px solid aliceblue
}

.menu a:hover{
    background-color: #bda68b;
}

header{
    height: 500px;
    background-image: url(imagens/caranguejo-praia.jpg);
    background-size:cover;
    background-position:right center;
    background-repeat: no-repeat;
    text-align: center;
}

.titulo-header{
    color: aliceblue;
    margin-top: 200px;
    font-size: 50px;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.paragrafo-header{
    background-color:#0000005c;
    display: inline-block;
    color: aliceblue;
    border-bottom: 1px solid aliceblue;
    padding: 15px;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.divisao-cardapio{
    text-align: center;
    /* display: flex;
    flex-direction: column; */
}

.titulo-divisao{
    background-color: #412d2d;
    display: inline-block;
    font-size: 30px;
    color:aliceblue;
    border: 3px solid aliceblue;
    padding: 10px;
}

section{
    background-color: aliceblue;
    margin: 10px 400px;
    padding: 10px;
    text-align: center;
    position: center;
}

.imagem{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 2em;
}


.titulo-main{
    background-color: #e7e7e7;
    padding: 10px;
    border-bottom: 3px solid #584141;
    font-size: 25px;
    text-align: center;
    color: #412d2d;
}

.link-saiba-mais a{
    background-color: #412d2d;
    padding: 10px;
    font-size: small;
    color:aliceblue
}

.link-saiba-mais a:hover{
    background-color: #bda68b;
}

footer{
    background-color: #584141;
    padding: 15px;
    text-align: center;
    color: aliceblue;
    font-size: smaller;
}

@media screen and (max-width: 640px) {

    /* Menor que 640px */

    header{
        height: 300px;
    }

    .titulo-header{
        font-size: 30px;
        margin-top: 30px;
    }

    .paragrafo-header{
        font-size: 15px;
    }

    .titulo-divisao{
        font-size: 20px;
    }
    

    .menu a{
        font-size: 15px;
        
    }    
    
    .imagem{
        width: 100%;
        padding: 1em;
        box-sizing: border-box;
    }

    section{
        margin: 30px;
    }   

    
}


@media screen and (min-width: 768px) {

    /* Maior que 768px */

    section{
        margin: 20px 200px;
    }

    .titulo-divisao{
        font-size: 45px;
    }

    p{
        font-size: 20px;
    }

    .link-saiba-mais a{
        font-size: 20px;
    }
    
}

